.first_random_media{
  max-width: 100%;
  border-radius:5px;
  transition: all 1s ease-out;
}

.first_random_tile_bar{
  background:linear-gradient(to top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.5) 60%,rgba(0,0,0,0.3) 80%,rgba(0,0,0,0) 100%) !important;
  font-weight:700;
  transition: all 1s ease-out;
}
.first_random_container:hover .first_random_media{
  transform: scale(1.1,1.1);
}

.first_random_container:hover .first_random_tile_bar{
  height: 150px;
}



