.random_item_media{
  max-width: 100%;
  transition: all 1s ease-out;
}


.random_item_container:hover .random_item_media{
  transform: scale(1.1,1.1);
}
.random_item_container:hover .recipe_tile_bar{
  height: 100px;
}