.random_list_container{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
  overflow: hidden;
}

.random_list {
  flex-wrap: nowrap !important;
  transform: translateZ(0);
}

.random_item_tile{
  border-radius:5px;
}